.completed {
    text-decoration: line-through;
  }
  
  .icon {
    margin-right: 8px;
  }
  
  .completed-icon {
    color: green;
    margin-left: 10px;
  }
  
  button {
    margin-left: 20px;
  }
  